//
// ApiUserControllerAPI.swift
//
// Generated by openapi-generator
// https://openapi-generator.tech
//

import Foundation
import PromiseKit

@objc open class ApiUserControllerAPI : NSObject {
    /**

     - parameter apiResponseQueue: The queue on which api response is dispatched.
     - returns: Promise<UserInfoDto>
     */
    open class func getUserInfo(apiResponseQueue: DispatchQueue = mailslurpAPI.apiResponseQueue) -> Promise<UserInfoDto> {
        let deferred = Promise<UserInfoDto>.pending()
        getUserInfoWithRequestBuilder().execute(apiResponseQueue) { result -> Void in
            switch result {
            case let .success(response):
                deferred.resolver.fulfill(response.body!)
            case let .failure(error):
                deferred.resolver.reject(error)
            }
        }
        return deferred.promise
    }

    /**
     - GET /user/info
     - API Key:
       - type: apiKey x-api-key 
       - name: API_KEY
     - returns: RequestBuilder<UserInfoDto> 
     */
    open class func getUserInfoWithRequestBuilder() -> RequestBuilder<UserInfoDto> {
        let path = "/user/info"
        let URLString = mailslurpAPI.basePath + path
        let parameters: [String: Any]? = nil

        let urlComponents = URLComponents(string: URLString)

        let nillableHeaders: [String: Any?] = [
            :
        ]

        let headerParameters = APIHelper.rejectNilHeaders(nillableHeaders)

        let requestBuilder: RequestBuilder<UserInfoDto>.Type = mailslurpAPI.requestBuilderFactory.getBuilder()

        return requestBuilder.init(method: "GET", URLString: (urlComponents?.string ?? URLString), parameters: parameters, headers: headerParameters)
    }

}
